<!-- フッター -->
<footer class="d-flex flex-column fixed-bottom text-center mx-auto">
  <div class="row align-items-end">
    <!-- MyMU -->
    <div class="col-3 d-flex flex-column align-items-center">
      <img src="../assets/img/icon-footer-mymu.svg" alt="">
      <span class="d-block">MyMU</span>
    </div>

    <!-- 基本機能 -->
    <div class="col-3 d-flex flex-column align-items-center">
      <img src="../assets/img/icon-footer-function-basic.svg" alt="">
      <span class="d-block">基本機能</span>
    </div>

    <!-- スケジュール -->
    <div class="col-3 d-flex flex-column align-items-center">
      <img src="../assets/img/icon-footer-schedule.svg" alt="">
      <span class="d-block">スケジュール</span>
    </div>

    <!-- その他機能 -->
    <div class="col-3 d-flex flex-column align-items-center">
      <img src="../assets/img/icon-footer-function-other.svg" alt="">
      <span class="d-block">その他機能</span>
    </div>
  </div>
</footer>