@charset "UTF-8";
/* =================================
  * demo_app.css
  * デモアプリのスタイルシート
  * 
  * @version 2.0.0
  * @date 2026-02-01
  * @author MEE yamada
================================= */

:root {
  --app-bg-color: #f8f8f8;
  --app-max-width: 400px;
}

.demo-app-container {
  width: var(--app-max-width);
}

.app-header {

}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  background-color: var(--app-bg-color);
  width: var(--app-max-width);
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  background-color: var(--app-bg-color);
  width: var(--app-max-width);
  font-size: 0.8125rem;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  }

.app-drive-btn {
  padding: 0 4rem 0 4rem !important;
}
